{
  "delimiter": ";",
  "disable": false,
  "className": "Secrets",
  "namespace": "Helpers",
  "properties": [
    {
      "name": "SampleString",
      "type": "String",
      "isArray": false
    },
    {
      "name": "SampleBool",
      "type": "bool",
      "isArray": false
    },
    {
      "name": "SampleInt",
      "type": "int",
      "isArray": false
    },
    {
      "name": "SampleDouble",
      "type": "double",
      "isArray": false
    },
    {
      "name": "SampleUri",
      "type": "Uri",
      "isArray": false
    },
    {
      "name": "SampleDateTime",
      "type": "DateTime",
      "isArray": false
    },
  ]
}
